# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={}
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [3]:
# States are Key and Capitol are Value
data ={'Alabama' : 'Montgomery',
       'Arizona' : 'Phoenix',
       'Georgia' : 'Atlanta', 
       'Kentucky' : 'Frankfort',
       'Ohio' : 'Salem'}

In [5]:
print(data)
type(data)

{'Alabama': 'Montgomery', 'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

dict

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [6]:
data['Alabama']

'Montgomery'

In [7]:
data['Ohio']

'Salem'

In [8]:
#data['Louisiana']

### Update elements of a dictionary and add new elements

In [9]:
day={1: 'Monday',
     2: 'Tuesday',
     4: ('Thursday', 'Friday'),
     5: ['Saturday', 'Holiday']}

In [10]:
day[1]

'Monday'

In [11]:
day[4]

('Thursday', 'Friday')

In [13]:
day[5][0]

'Saturday'

In [12]:
day[1]='Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday']}

In [14]:
day[3]='Wednesday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday'],
 3: 'Wednesday'}

### `get` and `update` methods

In [15]:
data ={'Alabama' : 'Montgomery',
       'Arizona' : 'Phoenix',
       'Georgia' : 'Atlanta', 
       'Kentucky' : 'Frankfort',
       'Ohio' : 'Salem'}

In [16]:
data.get('Alabama')

'Montgomery'

In [ ]:
data.get('Louisiana') # Not generating error

In [17]:
data.update({'Kentucky': 'Louisville', 'Louisiana': 'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Louisiana': 'Baton Rouge'}

### Delete dictionary items using `del` and `pop`

In [18]:
data ={'Alabama' : 'Montgomery',
       'Arizona' : 'Phoenix',
       'Georgia' : 'Atlanta', 
       'Kentucky' : 'Frankfort',
       'Ohio' : 'Salem'}

In [19]:
del data['Alabama']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Salem'}

In [20]:
data.pop('Ohio')
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort'}

In [21]:
data.pop('Kentucky')

'Frankfort'

In [22]:
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta'}

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [23]:
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta'}

In [24]:
len(data)

2

In [25]:
data.keys()

dict_keys(['Arizona', 'Georgia'])

In [26]:
data.values()

dict_values(['Phoenix', 'Atlanta'])

In [27]:
data.items()

dict_items([('Arizona', 'Phoenix'), ('Georgia', 'Atlanta')])

### Loop through a dictionary

In [28]:
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday'],
 3: 'Wednesday'}

In [29]:
for key in day.keys():
    print(key)

1
2
4
5
3

In [30]:
for value in day.values():
    print(value)

Holiday
Tuesday
('Thursday', 'Friday')
['Saturday', 'Holiday']
Wednesday

In [31]:
for key, value in day.items():
    print(type(key), type(value))

<class 'int'> <class 'str'>
<class 'int'> <class 'str'>
<class 'int'> <class 'tuple'>
<class 'int'> <class 'list'>
<class 'int'> <class 'str'>

### Convert dictionary to lists using `list()` function

In [32]:
data

{'Arizona': 'Phoenix', 'Georgia': 'Atlanta'}

In [33]:
state=list(data.keys())
state

['Arizona', 'Georgia']

In [34]:
capitol=tuple(data.values())
print(capitol)

('Phoenix', 'Atlanta')

### A List in a Dictionary

In [1]:
favourite_language={
    'Jen': ['Python', 'ruby'],
    'sarah':['C'],
    'edward':['ruby','Java'],
    'Phil':['Python','Haskell']   
}

In [2]:
for name, languages in favourite_language.items():
    print("\n"+name.title()+"\'s favourite languages are: ")
    #print(languages)
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favourite languages are:
			Python
			Ruby

Sarah's favourite languages are:
			C

Edward's favourite languages are:
			Ruby
			Java

Phil's favourite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [3]:
user={
    'einstein':{
        'first': 'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'mcurie':{
        'first':'marie',
        'last': 'curie',
        'location':'paris'
    }
}

In [4]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [5]:
for username,user_info in user.items():
    print("\nUser Name: ", username)
    fullname=user_info['first']+" "+user_info['last']
    location=user_info['location']
    
    print("The full name is: "+ fullname.title())
    print("The location: ",location.title())

User Name:  einstein
The full name is: Albert Einstein
The location:  Princeton

User Name:  mcurie
The full name is: Marie Curie
The location:  Paris